/* Add your CSS styles here */

body {
    font-family: Arial, sans-serif;
  }
  
  .main-header {
    background-color: #333;
    color: white;
    padding: 10px;
  }
  
  .header-a img {
    height: 40px;
  }
  
  .main-content {
    margin: 20px;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .welcome-desc {
    margin-bottom: 20px;
  }
  
  .selection-section,
  .file-input-section,
  .record-audio-section {
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 10px;
  }
  
  input[type="file"],
  input[type="text"],
  button {
    padding: 5px;
    margin: 5px;
  }
  
  footer {
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
  }
  
  .footer-content a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .separator {
    margin: 0 5px;
  }
  